#como-comprar {
    background: $color-primary;
}

.steps {
    display: flex;
    font-size: $font-size-nav;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;


    &__item {
        margin: 1rem;
        text-align: center;
        span {
            color: $color-secondary;
        }
    }

}